.colorContainer {
  margin-bottom: 5px;
}

.colorContainer * {
  vertical-align: middle;
}

.colorContainer input {
  width: 18px;
  height: 18px;
}

.colorbox {
  border: 1px solid black;
  display: inline-block;
  margin-right: 5px;
  width: 24px;
  height: 24px;
}

.colorText {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 50%;
}